@charset "UTF-8";

BODY {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%
}
TD {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%
}
SELECT {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%
}
DIV {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%
}
FORM {
	FONT-SIZE: 9pt;
	COLOR: black;
	LINE-HEIGHT: 160%
}
TEXTAREA {
	BORDER-RIGHT: 1px solid #999999;
	BORDER-TOP: 1px solid #999999;
	BORDER-LEFT: 1px solid #999999;
	BORDER-BOTTOM: 1px solid #999999;
	FONT-SIZE: 9pt;
	COLOR: black;
	background-color: white;
}
INPUT {
	BORDER-RIGHT: 1px solid #999999;
	BORDER-TOP: 1px solid #999999;
	BORDER-LEFT: 1px solid #999999;
	BORDER-BOTTOM: 1px solid #999999;
	FONT-SIZE: 9pt;
	COLOR: black;
	background-color: white;
}
A:link {
	text-decoration: none;
	color: #696969;	
}
A:hover {
	text-decoration: yes;
	color: #66CCFF;	
}
A:visited{
	text-decoration: none;
	color: #330066;	
}